@mixin from-992-1100{
    @media screen and (min-width:992.67px) and (max-width:1100px) {
        @content;
    }
}
@mixin from-1100-1300{
    @media screen and (min-width:1100.67px) and (max-width:1300px) {
        @content;
    }
}
@mixin from-1300-1700{
    @media screen and (min-width:1300px) and (max-width:1700px) {
        @content;
    }
}
@mixin from-320-992{
    @media screen and (min-width:320.67px) and (max-width:992px) {
        @content;
    }
}
@mixin from-575-992{
    @media screen and (min-width:575.67px) and (max-width:992px) {
        @content;
    }
}
@mixin from-320-575{
    @media screen and (min-width:320.67px) and (max-width:575px) {
        @content;
    }
}
@mixin from-992-1300{
    @media screen and (min-width:992.67px) and (max-width:1300px) {
        @content;
    }
}
@mixin above-1600{
    @media screen and (min-width:1600px){
        @content;
    }
}
@mixin above-1900{
    @media screen and (min-width:1900px){
        @content;
    }
}
.header-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 50px;
    height: 45vw;
    position: relative;
    overflow-x: clip;
    background-image: url('../../../public/about-header-new.png');
    background-position-y:0px;
    background-size: cover;
    background-repeat: no-repeat;
    @include from-320-992{
        height: 450px;
        padding: 10vw 20px 10vw 20px;
        justify-content: flex-start;
        background-position-y:0px;
    }
    @include above-1600{
        background-position-y: -270px;
        justify-content: flex-start;
        padding-top: 130px;
    }
    @include above-1900{
        background-position-y: auto;
        justify-content: center;
        padding-top: 130px;
        height: fit-content;
    }
        // &::before{
        //     content: '';
        //     background-image: url('../../../public/about-right.png');
        //     position: absolute;
        //     left: 70px;
        //     bottom: 0px;
        //     background-size: contain;
        //     background-repeat: no-repeat;
        //     width: 290px;
        //     height: 480px;
        //     @include from-1300-1700{
        //         left: 50px;
        //     }
        //     @include from-992-1100{
        //         left: 15px;
        //         width: 200px;
        //         height: 390px;
        //     }
        //     @include from-1100-1300{
        //         left: 45px;
        //         width: 250px;
        //         height: 340px;
        //     }
        //     @include from-575-992{
        //         top: 20px;
        //         width: 150px;
        //         height: 340px;
        //         left: -100px;
        //     }
        //     @include from-320-575{
        //         width: 100px;
        //         height: 290px;
        //         left: -65px;
        //         top: 20px;
        //     }
        // }
        // &::after{
        //     content: '';
        //     background-image: url('../../../public/about-left.png');
        //     position: absolute;
        //     right: 70px;
        //     top: 50px;
        //     background-size: contain;
        //     background-repeat: no-repeat;
        //     width: 290px;
        //     height: 480px;
        //     @include from-1300-1700{
        //         right: 1%;
        //         top:30px;
        //         width: 270px;
        //         height: 460px;
        //     }
        //     @include from-992-1100{
        //         right: -6%;
        //         width: 200px;
        //         height: 390px;
        //     }
        //     @include from-1100-1300{
        //         right: 1%;
        //         width: 200px;
        //         height: 390px;
        //     }
        //     @include from-575-992{
        //         top: 20px;
        //         width: 150px;
        //         height: 340px;
        //         right: -100px;
        //     }
        //     @include from-320-575{
        //         width: 100px;
        //         height: 290px;
        //         right: -65px;
        //         top: 20px;
        //     }
        // }
        h1{
            font-size: 35px;
            color: #fff;
            line-height: normal;
            letter-spacing: normal;
            // @include above-1600{
            //     font-size: 2.5vw;
            // }
            @include from-992-1300{
                width: 70%;
                text-align: center;
                line-height: 35px;
            }
            @include from-1300-1700{
                width: 85%;
                text-align: center;
                line-height: 40px;
            }
            @include from-575-992{
                text-align: center;
            }
            @include from-320-575{
                text-align: center;
                font-size: 24px;
            }
            span{
                color: #fff;
            }
        }
        p{
            margin-top: 20px;
            text-align: center;
            width: 35%;
            margin-bottom: 20px;
            color: #fff;
            
            @include from-992-1300{
                font-size: 16px;
                width: 70%;
                font-weight: 300;
                line-height: 20px;
            }
            @include from-1300-1700{
                font-size: 16px;
                width: 60%;
                font-weight: 300;
                line-height: 20px;
            }
            // @include above-1600{
            //     font-size: 1.2vw;
            // }
            @include from-575-992{
                text-align: center;
                width: 70%;
            }
            @include from-320-575{
                width: 90%;
            }
        }
        a{
            border-radius: 0px 20px 20px 20px;
            background: #4663AC;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            padding: 10px 20px;
            border: 1px solid #4663AC;
            // @include above-1600{
            //     font-size: 1.3vw;
            // }
                &:hover{
                    background: #fff;
                    color: #4663AC;
                }
        }
        img{
            position: relative;
            top:-50px;
            z-index: -1;
            @include from-992-1100{
                width: 60%;
            }
            @include from-320-575{
                width: 50%;
                height: 20%;
            }
        }
}