@mixin from-992-1300{
    @media screen and (min-width:992.67px) and (max-width:1300px) {
        @content;
    }
}
@mixin from-992-1250{
    @media screen and (min-width:992.67px) and (max-width:1250px) {
        @content;
    }
}
@mixin from-1300-1700{
    @media screen and (min-width:1300px) and (max-width:1700px) {
        @content;
    }
}
@mixin from-575-992{
    @media screen and (min-width:575.67px) and (max-width:992px) {
        @content;
    }
}
@mixin from-320-575{
    @media screen and (min-width:320.67px) and (max-width:575px) {
        @content;
    }
}
@mixin from-320-992{
    @media screen and (min-width:320.67px) and (max-width:992px) {
        @content;
    }
}
@mixin from-320-850{
    @media screen and (min-width:320.67px) and (max-width:850px) {
        @content;
    }
}
@mixin from-320-400{
    @media screen and (min-width:320.67px) and (max-width:400px) {
        @content;
    }
}
@mixin from-400-575{
    @media screen and (min-width:400.67px) and (max-width:575px) {
        @content;
    }
}
@mixin from-767-to-992{
    @media screen and (min-width:767px) and (max-width:992.67px){
        @content;
    }
}
@mixin above-1200{
    @media screen and (min-width:1200px){
        @content;
    }
}
@mixin above-1600{
    @media screen and (min-width:1600px){
        @content;
    }
}
.growth-img{
    img{
        position: relative;
        z-index: 111;
        width: 100%;
        @include from-320-575{
            width: 100%;
        }
        @include from-575-992{
            width: 100%;
        }
    }
    position: relative;
                .circle1{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 11%;
                    height: 17%;
                    border-radius: 50%;
                    background: linear-gradient(180deg, #F0F0F0 0%, #FFF 100%);;
                    box-shadow: 5px 8px 19px rgba(0, 0, 0, 0.25);
                    position: absolute;
                    z-index: 222;
                    left: calc(100% - 84%);
                    bottom: 35%;
                    z-index: 2222;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 600;
                    @include above-1200{
                    left: calc(100% - 85%);
                    }
                    @include from-1300-1700{
                        font-size: 1.2vw;
                    }
                    // @include above-1600{
                    //     font-size: 1.2vw;
                    // }
                    @include from-575-992{
                        width: 15.3%;
                        overflow-wrap: anywhere;
    height: 23.5%;
    left: 11%;
    bottom: 33%;
                    }
                    @include from-400-575{
                        width: 15.3%;
    height: 23.5%;
    font-size: 10px;
    left: 9%;
    overflow-wrap: anywhere;
    bottom: 30%;
                    }
                    @include from-320-400{
                        width: 15.3%;
                        overflow-wrap: anywhere;
    height: 23.5%;
    font-size: 8px;
    left: 9%;
    bottom: 31%;
                    }
                    @include from-767-to-992{
                        width: 15.3%;
                        height: 23.5%;
                        left: 11%;
                        bottom: 33%; 
                        overflow-wrap: anywhere;
                    }
                }
                .circle2{
                    display: flex;
                    position: absolute;
                    z-index: 222;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 11%;
    height: 17%;
                    border-radius: 50%;
                    border-radius: 50%;
                    background: linear-gradient(180deg, #F0F0F0 0%, #FFF 100%);;
                    box-shadow: 5px 8px 19px rgba(0, 0, 0, 0.25);
                    bottom: 60%;
                    right: 51%;
                    z-index: 2222;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 600;
                    @include from-1300-1700{
                        font-size: 1.2vw;
                    }
                    // @include above-1600{
                    //     font-size: 1.2vw;
                    // }
                    @include from-575-992{
                        width: 15.3%;
    height: 23.5%;
    right: 48.5%;
    bottom: 60%;
    overflow-wrap: anywhere;
                    }
                    @include from-320-575{
                        width: 15.3%;
                        height: 23.5%;
                        font-size: 10px;
                        right: 48.5%;
                        bottom: 60%;
                        overflow-wrap: anywhere;
                    }
                    @include from-320-400{
                        width: 15.3%;
                        overflow-wrap: anywhere;
    height: 23.5%;
    font-size: 8px;
    right: 48.5%;
    bottom: 60%;
                    }
                    @include from-767-to-992{
                        width: 15.3%;
    height: 23.5%;
    right: 49.5%;
    overflow-wrap: anywhere;
    bottom: 60%;
                    }
                    
                }
                .circle3{
                    display: flex;
                    position: absolute;
                    z-index: 222;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 11%;
    height: 17%;
                    border-radius: 50%;
                    border-radius: 50%;
                    background: linear-gradient(180deg, #F0F0F0 0%, #FFF 100%);;
                    box-shadow: 5px 8px 19px rgba(0, 0, 0, 0.25);
                    top: 12%;
                    right:calc(100% - 69.5%);
                    z-index: 2222;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 600;
                    @include from-1300-1700{
                        font-size: 1.2vw;
                    }
                    // @include above-1600{
                    //     font-size: 1.2vw;
                    // }
                    @include from-575-992{
                        width: 15.3%;
                        height: 23.5%;
                        right: 25.5%;
                        top: 1%;
                        overflow-wrap: anywhere;
                    }
                
                    @include from-400-575{
                        width: 15.3%;
                        height: 23.5%;
                        font-size: 10px;
                        right: 25.5%;
                        top: 1%;
                        overflow-wrap: anywhere;
                    }
                    @include from-320-400{
                        width: 15.3%;
                        overflow-wrap: anywhere;
    height: 23.5%;
    font-size: 8px;
    right: 26%;
    top: 1%;
                    }
                    @include from-767-to-992{
                        width: 15.3%;
                        overflow-wrap: anywhere;
    height: 23.5%;
    right: 26%;
                    }
                    
                }
                .circle4{
                    display: flex;
                    position: absolute;
                    z-index: 222;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 11%;
                    height: 17%;
                    border-radius: 50%;
                    border-radius: 50%;
                    background: linear-gradient(180deg, #F0F0F0 0%, #FFF 100%);;
                    box-shadow: 5px 8px 19px rgba(0, 0, 0, 0.25);
                    right: calc(100% - 94.5%);
                    top: -4%;
                    z-index: 2222;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 600;
                    @include above-1200{
                        right: calc(100% - 96%);
                    }
                    @include from-1300-1700{
                        font-size: 1.2vw;
                    }
                    // @include above-1600{
                    //     font-size: 1.2vw;
                    // }
                    @include from-575-992{
                        width: 15.3%;
                        height: 23.5%;
                        border-radius: 50%;
                        right: -1.7%;
                        overflow-wrap: anywhere;
    top: -15%;
                    }
                    @include from-400-575{
                        width: 15.3%;
                        height: 23.5%;
                        font-size: 10px;
                        right: -1.7%;
                        overflow-wrap: anywhere;
    top: -15%;
                    }
                    @include from-320-400{
                        width: 15.3%;
                        overflow-wrap: anywhere;
    height: 23.5%;
    font-size: 8px;
    right: -1.7%;
    top: -15%;
                    }
                    
                }
        }