@mixin from-1140-to-992{
    @media screen and (min-width:992.67px) and (max-width:1140px) {
        @content;
    }
}
@mixin from-992-to-320{
    @media screen and (min-width:320px) and (max-width:991.67px) {
        @content;
    }
}
.navbar-cus{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 50px;
    background-color: #4663AC;
    overflow-x: clip;
    z-index: 222;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    @include from-992-to-320{
        padding: 0px 5px 0px 0px;
    }
        .logo-wrap{
            width: 30%;
        }
        .menu-bars-wrap{
            display: none;
            @include from-992-to-320{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                width: 70%;
            }
        }
        .links-wrap{
            display: flex;
            align-self: center;
            width: 70%;
            @include from-992-to-320{
                display: none;
            }
                .cus-links{
                    display: flex;
                    padding: 0px;
                    list-style: none;
                    color: #fff;
                    .nav-link-wraps{
                        min-width: 150px;
                        width: 20%;
                        height: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                            a{
                                color: #fff;
                                text-decoration: none;
                                position: relative;
                                text-align: center;
                            }
                    }
                    .dropdown-wrap{
                        position: relative;
                        &:hover{
                            .drop-div{
                                display: flex;
                            }
                        }
                            .drop-div{
                                position: absolute;
                                top:44px;
                                background: #4663AC;
                                padding: 10px;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 10px;
                                z-index: 2222;
                                width: 180px;
                                display: none;
                                    .droplist{
                                        display: flex;
                                        flex-direction: column;
                                        a{
                                            margin: 10px 0px;
                                        }
                                    }
                            }
                    }
                }
        }
}
.activeLink{
    font-weight: bold !important;
    transition: 0.3s ease-in-out;
    &::after{
        content: '';
        position: absolute;
        top: 98%;
        bottom: 0px;
        right: 0px;
        margin: 0 auto;
        left: 0px;
        background-image: url('../../../public/nav-hover.png');
        width: 70px;
        background-repeat: no-repeat;
        background-position-y:0px;
        height: 30px;
        @include from-992-to-320{
            display: none;
            width: 0px;
            height: 0px;
        }
    }
}
@keyframes showBlob {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.moible-abs-menu{
    position: absolute;
    height: auto;
    background-color: #4663AC;
    z-index: 22222;
    animation-name:mobileMenu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    right: 0px;
    width: 100vw;
    .innerLinks{
        display: flex;
        flex-direction: column;
        padding: 40px;
            .nav-link-wraps{
                padding: 5px 0px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 16px;
                    }
            }
            .dropdown-wrap{
                display: flex;
                flex-direction: column;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 16px;
                        
                    }
                    .drop-div{
                        display: flex;
                        flex-direction: column;
                        padding-left: 20px;
                            a{
                                text-decoration: none;
                        color: #fff;
                        font-size: 16px;
                                padding: 5px 0px;  
                            }
                    }
            }
    }
}
.mob-div{
    .droplist{
        li{
            margin:0px;
            padding-top:10px;
            margin-left:10px;
            border-bottom: 1px solid #cfcfcf;
        }
    }
}
@keyframes mobileMenu {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.close{
    font-size: 32px;
    color: #fff;
    text-align: right;
    padding: 30px;
}
.dropAbout{
   position: relative;
   &:hover{
    .drop-div{
        display: flex;
        flex-direction: column;
        opacity: 1;
        z-index: 4444;
    }
   }
    .drop-div{
        position: absolute;
        height: auto;
        padding: 10px 20px;
        width: 100%;
        top:44px;
        background-color: #4663AC;
        display: none;
        opacity: 0;
            .droplist{
                padding: 0px;
                list-style: none;
                display: flex;
                flex-direction: column;
                
                    li{
                        padding-top: 5px;
                padding-bottom: 5px;
                        color: transparentize($color: #fff, $amount: 0.3);
                        transition: 0.3s ease-in-out;
                        &:hover{
                            color: transparentize($color: #fff, $amount: 0);
                            &::after{
                                content: '';
                                width: 0px;
                                height: 0px;
                            }
                        }
                    }
            }
    } 
}
.dropCap{
    position: relative;
    &:hover{
     .drop-div{
         display: flex;
         flex-direction: column;
         opacity: 1;
         z-index: 4444;
     }
    }
     .drop-div{
         position: absolute;
         height: auto;
         padding:20px 10px;
         width: 250px;
         top:44px;
         background-color: #4663AC;
         display: none;
         opacity: 0;
             .droplist{
                 padding: 0px;
                 list-style: none;
                 display: flex;
                 flex-direction: column;
                     li{
                        padding-top: 5px;
                padding-bottom: 5px;
                         color: transparentize($color: #fff, $amount: 0.3);
                         transition: 0.3s ease-in-out;
                         margin-bottom: 10px;
                         &:hover{
                             color: transparentize($color: #fff, $amount: 0);
                             &::after{
                                 content: '';
                                 width: 0px;
                                 height: 0px;
                             }
                         }
                     }
             }
     } 
 }
 .activeInner{
    font-weight: bold;
 }