@mixin from-992-1300{
    @media screen and (min-width:992.67px) and (max-width:1300px) {
        @content;
    }
}
@mixin above-1300{
    @media screen and (min-width:1300px){
        @content;
    }
}
@mixin from-575-992{
    @media screen and (min-width:575.67px) and (max-width:992px) {
        @content;
    }
}
@mixin from-320-575{
    @media screen and (min-width:320.67px) and (max-width:575px) {
        @content;
    }
}
.who-we-comp{
    margin-top: 50px;
    position: relative;
    overflow-x: hidden;
        .about-rocket{
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: -1;
        }
}