@mixin from-992-1300{
    @media screen and (min-width:992.67px) and (max-width:1300px) {
        @content;
    }
}
@mixin above-1300{
    @media screen and (min-width:1300px){
        @content;
    }
}
@mixin from-575-992{
    @media screen and (min-width:575.67px) and (max-width:992px) {
        @content;
    }
}
@mixin from-320-575{
    @media screen and (min-width:320.67px) and (max-width:575px) {
        @content;
    }
}
.about-main-wrap{    
    background: #E1F1FD;
    padding: 100px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
    @include from-575-992{
        padding: 50px 75px;
    }
    @include from-320-575{
        padding: 20px;
    }
        .content-wrapper{          
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px 100px;
            width: 50%;
            @include from-575-992{
                padding: 25px;
                width: 80%;
                z-index: 1111;
            }
            @include from-320-575{
                padding: 10px;
                width: 80%;
                z-index: 1111;
            }
            .main-head{            
            font-size: 30px;
            text-align: center;
            margin-bottom: 50px;
            }
            p{
                margin-bottom: 20px;
                line-height: normal;
                @include from-320-575{
                    font-size: 14px;
                    font-weight: 300;
                }
                @include above-1300{
                    font-size: 1.3vw;
                }
            }
        }
        .grow-img-about-wrap{
            position: absolute;
    left: 3%;
    top: 145px;
    bottom: 0px;
    margin: auto 0px;
    width: 24%;
    @include from-575-992{
    left: -20%;
    top: 145px;
    width: 40%;
    }
    @include from-320-575{
    left: -23%;
    top: 117px;
    width: 40%;
    img{
        width: 100%;
    }
    }
            img{
                width: 90%;
            }
        }
        .team-about-wrap{
            position: absolute;
    right: -100px;
    top: 150px;
    bottom: 0px;
    margin: auto 0px;
    width: 30%;
    @include from-575-992{
    right: -91px;
    top: 309px;
    width: 40%;
    }
    @include from-320-575{
    right: -40px;
    top: 150px;
    width: 45%;
    img{
        width: 100%;
    }
    }
    img{
        width: 80%;
    }
        }
}