@mixin from-992-1300{
    @media screen and (min-width:992.67px) and (max-width:1300px) {
        @content;
    }
}
@mixin from-1300-1700{
    @media screen and (min-width:1300px) and (max-width:1700px) {
        @content;
    }
}
@mixin from-575-992{
    @media screen and (min-width:575.67px) and (max-width:992px) {
        @content;
    }
}
@mixin from-320-575{
    @media screen and (min-width:320.67px) and (max-width:575px) {
        @content;
    }
}
@mixin from-320-992{
    @media screen and (min-width:320.67px) and (max-width:992px) {
        @content;
    }
}
@mixin above-1600{
    @media screen and (min-width:1600px){
        @content;
    }
}
.case-studies-con{
    background-image: url('../../../public/case-studies-page.png');
    background-size: cover;
    background-repeat: no-repeat;
        .case-studies-header{
            position: relative;
            background-image: url('../../../public/case-studies-header-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 542px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            @include from-992-1300{
                background-position-y: -45px;
            }
            @include from-575-992{
                background-position-y: -30px;
    height: 400px;
            }
            @include from-320-992{
                background-position-y:-215px;
                padding: 20px;
                height: 300px;
                background-image: url('../../../public/case-mobile-header.png');
            }
            @include above-1600{
                justify-content: center;
            }
                .header-content-wrap{
                    width: 35%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 100px;
                    @include from-992-1300{
                        height: 80%;
                        justify-content: center;
                    }
                    @include from-1300-1700{
                        height: 80%;
                        justify-content: center;
                    }
                    @include above-1600{
                        padding-left: 180px;
                    }
                    @include from-320-992{
                        margin-left: 0px;
                        width: 100%;
                        margin-top: 50px;
                        justify-content: flex-start;
                        padding-left: 0px;
                        align-items: center;
                    }
                    @include from-320-575{
                        margin-left: 10px;
                        width: 100%;
                    }
                        h1{
                            font-size: 40px;
                            line-height: normal;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                            color:#fff;
                            
                            @include from-320-992{
                                text-align: center;
                                font-size: 30px;
                            }
                            // @include above-1600{
                            //     font-size: 2.5vw;
                            // }
                        }
                        p{
                            font-size: 16px;
                            font-weight: 300;
                            
                            color: #fff;
                            line-height: normal;
                            margin-bottom: 10px;
                            @include from-320-992{
                                font-size: 14px;
                                text-align: center;
                            }
                            // @include above-1600{
                            //     font-size: 1.1vw;
                            // }
                        }
                        .headerLink{
                            font-size: 16px;
                            color: #000;
                            border-radius: 0px 20px 20px 20px;
                            background: #F9F9F9;
                            text-decoration: none;
                            border: 1px solid #fff;
                            transition: 0.3s ease-in-out;
                            align-self: flex-start;
                            padding: 5px 10px;
                                &:hover{
                                    background-color: transparent;
                                    color: #fff;
                                }
                                @include from-320-992{
                                    align-self: center;
                                }
                                // @include above-1600{
                                //     font-size: 1.1vw;
                                // }
                        }
                }
        }
}
.grow-link-wrap{
    display: flex;
    margin-top: 10px;
    a{
        border-radius: 0px 20px 20px 20px;
background: #4663AC;
text-decoration: none;
color: #fff;
border: 1px solid #4663AC;
transition: 0.3s ease-in-out;
padding: 10px 20px;
// @include above-1600{
//     font-size: 1.1vw;
// }
    }
    img{
        margin-left: 10px;
    }
}
.succes-wrap{
    padding: 50px 70px 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include from-320-992{
        padding:20px 20px;
    }
        h1{
            font-size: 30px;
            line-height: normal;
            text-transform: capitalize;
            @include from-320-992{
                text-align: center;
                font-size: 24px;
            }
            // @include above-1600{
            //     font-size: 2vw;
            // }
        }
        .blue-heading{
            color: #4663AC;
            margin-bottom: 10px;
        }
        p{
            font-size: 16px;
            font-weight: 300;
            width: 100%;
            text-align: center;
            line-height: normal;
            @include from-320-992{
                width: 100%;
                text-align: center;
                font-size: 15px;
            }
            // @include above-1600{
            //     font-size: 1.2vw;
            // }
        }
}
.no-bg{
    margin-bottom: 100px;
    background-image: none;
    padding-top: 0px;
    @include from-575-992{
        height: auto;
        padding: 30px 20px;
    }
    h1{
        @include from-320-992{
            font-size: 40px;
        }
    }
    .case-links-wrap{
        .links-ul{
            @include from-320-575{
                flex-wrap: nowrap;
            }
            li{
                @include from-320-575{
                    font-size: 11px;
                }
            }
        }
    }
}
.page-wrap{
    @include from-320-992{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 20px;
    }
        img{
            @include from-320-992{
                width: 50%;
                height: auto;
            }
        }
}